@media (max-width: 721px) {
    body {
        overflow-x: hidden;
    }
    logo {
        position: fixed;
        writing-mode: vertical-rl;
        letter-spacing: 1px;
        margin-top: 3vh;
        margin-left: 1.3vw;
    }

    content {
        margin: 1vh 4vw 0 8vw;
        font-size: 16px;
    }
    nav {
        padding-top: 1vh;
    }

    footer {
        position: relative;
        left: 50%;
        margin: 4vh 0 5vh 0;
        align-content: center;
    }

    footer .foo {
        margin: 1vh 0;
        display: inline-block;
    }
}