
body {
    background: #0d0d0d;
    color: white;
    font-size: 22px;
    font-family: fantasy; 
}
  
header {
    font-size: 22px;  
    text-align: center;
    width: 100%;
}

logo {
    position: fixed;
    top: 1rem;
    left: 1rem;
    letter-spacing: 3px;

}

logo a {
    text-decoration: none;
    color: palevioletred;
    font-weight: 800;
    font-size: 2.5rem;
    transition-duration: 0.5s;

}

logo a:hover {
    color: #403441;
    text-shadow: 1px 1px 1px #cccccc;
}

nav {
    padding-top: 1em;
    align-content: center;
    height: 60px;

}

nav button {
    border: none;
    font-size: 24px;
    line-height: 1;
    text-decoration: none;
    color: #583f5e;
    background: transparent;
    padding: 0.5em 2em;
}
nav button:hover  {
    color: #9e30cb;
    box-shadow: 0 0.5em 0.5em -0.4em #642286;
    transform: translateY(-0.3em);

}

nav button:focus {
    outline: none;
}


content {
    text-align:justify;
    display: block;
    margin: 1em 6em 0 10em;
    font-family: Lucida Console;

    letter-spacing: 1px;
    font-size: 18px;
    overflow: auto;
}

content h3 {
    text-transform: uppercase;
    padding: 0 1em;
    text-shadow: 2px 1px 4px #00ff00;
    
}
content p::first-letter {
    padding-left: 1em;
}
article h5 {
    color: #583f5e;
    font-style: italic;
}
time {
    font-style: italic;
    font-size: small;
    color: #ccc;
    left: 7%;
}

footer {
    display: block;
    left: 0;
    bottom: 0;
    position: fixed;
    font-size: 3vm;
}

footer .foo {
    margin: 1em;

}

footer a {
    padding: 0.3em 1em;
    text-decoration: none;
    color: palevioletred;
}

footer a:hover { 
    border: 1px solid #acd;
    border-radius: 50px;
    color: #9e30cb;
}

.hidden { display: none; }