body {
    margin: 0;
    padding: 0;
    background: #acc;
    color: darkslategrey;
    font-size: 22px;
    font-family: fantasy; 
}
canvas {      
    display: block;
    margin-left: auto;
    margin-right: auto;
} 
header {
    position:absolute;
    top: 0;  
    padding: 4em 0;
    font-size: 22px;  
    text-align: center;
    width: 100%;
}
     
 
content a {
    text-decoration: none;
    color: darkslategrey; 
    padding: 0.5em 3em;  
}
content a:hover {  
    border: 1px solid #edd; 
    text-shadow: 1px 1px 1px white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%; 
    font-size: 16px;
    text-align: center; 
    padding-top: 1em;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: palevioletred;
    padding: 0.3em 2em;
}
footer a:hover { 
    border: 1px solid #acd;
    border-radius: 50px; 
}
