
body {
    background: #0d0d0d;
    color: white;
    font-size: 22px;
    font-family: fantasy; 
}
  
header {
    font-size: 22px;  
    text-align: center;
    width: 100%;
}

logo {
    position: fixed;
    top: 0;
    left: 0;
    letter-spacing: 3px;
    margin-top: 3vh;
    margin-left: 1.5vw;
}

logo a {

    text-shadow: 2px 1px 5px #642286;
    text-decoration: none;
    color: palevioletred;
    font-weight: 800;
    font-size: 4vmin;
    transition-duration: 0.5s;
}

logo a:hover {
    color: #403441;
    text-shadow: 1px 1px 1px #cccccc;
}

nav {
    padding-top: 5vh;
    align-content: center;
    height: 8vw;

}

nav button {
    border: none;
    font-size: 4vmin;
    text-decoration: none;
    color: #583f5e;
    background: transparent;
    padding: 0.5em 1.5em;
    transition-duration: 0.3s;
}
nav button:hover  {
    color: #9e30cb;
    box-shadow: 0 0.5em 0.5em -0.4em #642286;
    transform: translateY(-0.3em);

}

nav button:focus {
    outline: none;
}


content {
    display: block;
    text-align:justify;
    margin: 1vh 20vw 0 20vw;
    font-family: Lucida Console, fantasy;
    font-size: 22px;
    overflow: auto;
}

content h3 {
    text-transform: uppercase;
    padding: 0 1em;
    text-shadow: 2px 1px 4px #00ff00;
    
}
content p::first-letter {
    padding-left: 1em;
}
section h5 {
    color: #583f5e;
    font-style: italic;
}
time {
    font-style: italic;
    font-size: small;
    color: #ccc;
    left: 7%;
}

footer {
    display: block;
    left: 0;
    bottom: 0;
    position: fixed;
    font-size: 4vmin;
    margin-bottom: 2vh;
}

footer .foo {
    margin-bottom: 2.3vh;
    margin-left: 1vh;
}
footer a {
    padding: 0.1em 0.8em;
    text-decoration: none;
    color: palevioletred;
}

footer a:hover { 
    border: 1px solid #acd;
    border-radius: 50px;
    color: #9e30cb;
}

.hidden { display: none; }

@media (max-width: 720px) {
    logo {
        letter-spacing: 1px;
        margin-top: 3vh;
        margin-left: 1.1vw;
    }

    content {
        margin: 1vh 2vw 0 21vw;
        font-size: 16px;
        text-align: left;
    }
    nav {
        padding-top: 1vh;
    }
}
